# Ignore matlab backup files
*.*~
*.asv

# Ignore text file that stores path to database
Path.txt

# Ignore path to database
/DataBase

secondodb/

ac\.m

prova\.m

GDataBase/

classeprova\.m

Funzioneprova\.m
